<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime/>
  </system.web>
  <appSettings>
    <add key="token" value="hbxls"/>
    <add key="appid" value="wxd6f59e1ac4c0c377"/>
    <add key="appsecret" value="3230b3086716a0dac22b494225eb67c8"/>
    <add key="access_token" value=""/>
    <add key="access_token_time" value=""/>
  </appSettings>
</configuration>