<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpRuntime />
  </system.web>
  <connectionStrings>
    <add name="db-hbxls" connectionString="Data Source=sql.z73.vhostgo.com;Initial Catalog=hbxls;Integrated Security=False;User ID=hbxls;Password=xyl369xyl369;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"></add>
    <add name="hbxlsEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sql.z73.vhostgo.com;initial catalog=hbxls;persist security info=True;user id=hbxls;password=xyl369xyl369;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="token" value="hbxls" />
    <add key="appid" value="wxd6f59e1ac4c0c377" />
    <add key="appsecret" value="3230b3086716a0dac22b494225eb67c8" />
    <add key="access_token" value="" />
    <add key="access_token_time" value="" />
    <!--微信配置Start-->
    <add key="WeChatAppId" value="wxd6f59e1ac4c0c377" />
    <add key="WeChatSecret" value="3230b3086716a0dac22b494225eb67c8" />
    <add key="WeChatToken" value="hbxls" />
    <add key="WeChatPartnerID" value="********" />
    <add key="WeChatPartnerKey" value="ea*******************1c" />
    <add key="WeChatCertPath" value="D:\\Cert\\New\\apiclient_cert.p12" />
    <add key="WeChatCertPwd" value="********" />
    <!--微信配置End-->
    <!--网站配置 Start-->
    <add key="SystemName" value="食品经营单位管理系统" />
    <!--网站配置 End-->
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>